<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Show Live Data: about</title>
  <script src="static/scripts/modernizr-1.6.min.js"></script>
  <link rel="stylesheet" media="screen" href="static/styles/basic.css" />
</head>
<body>
  <header>
    <div style="text-indent:4em"> <img src="static/images/showLiveData.png" height="250" alt="Show Live Data" /></div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="live.html">Live</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <article>
      <h4>本例演示了：</h4>
      <ul>
          <li>Arduino收集传感器数据</li>
          <li>GPRS模块发送数据到服务器</li>
          <li>服务器后端由Python监听Socket，解析数据后存入数据库</li>
          <li>JS访问数据库，并用eCharts展示</li>
      </ul>


  </article>
  <script src="static/scripts/global.js"></script>
</body>
</html>