<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Show Live Data: contact</title>
  <script src="static/scripts/modernizr-1.6.min.js"></script>
  <link rel="stylesheet" media="screen" href="static/styles/basic.css" />
</head>
<body>
  <header>
    <div style="text-indent:4em"> <img src="static/images/showLiveData.png" height="250" alt="Show Live Data" /></div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="live.html">Live</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <article>
    <h4>联系我：</h4><a href="mailto:sayhier@163.com">sayhier@163.com</a>

  </article>
  <script src="static/scripts/global.js"></script>
</body>
</html>