<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Show Live Data</title>
  <script src="static/scripts/modernizr-1.6.min.js"></script>
  <link rel="stylesheet" media="screen" href="static/styles/basic.css" />
</head>
<body>
  <header>
      <div style="text-indent:4em"> <img src="static/images/showLiveData.png" height="250" alt="Show Live Data" /></div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="live.html">Live</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <article>
      <h3 align="center">花儿长得好，要关心水、空气和土壤,<a style="background:transparent" href="/live.html">，查看实时数据</a></h3>
      <p> </p>
      <div align="center"><img src="static/images/photos/whole.jpg" width="600" alt="Whole Picture"/> </div>
  </article>
</body>
</html>