<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Show Live Data: Photos</title>
  <script src="static/scripts/modernizr-1.6.min.js"></script>
  <link rel="stylesheet" media="screen" href="static/styles/basic.css" />
</head>
<body>
  <header>
    <div style="text-indent:4em"> <img src="static/images/showLiveData.png" height="250" alt="Show Live Data" /></div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="live.html">Live</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <article>
      <ul>
          <li>Python服务器和花生壳动态域名</li>
          <div align="center"><img src="static/images/photos/server.png" width="600" alt="Server" /></div>
      </ul>
      <ul>
          <li>电子元件全家福: Arduino, SIM800L, DHT11</li>
          <div align="center"><img src="static/images/photos/electronics.jpg" width="600" alt="Server" /></div>
      </ul>
      <ul>
          <li>面包板</li>
          <div align="center"><img src="static/images/photos/board.jpg" width="600" alt="board" /> </div>
      </ul>

  </article>
  <script src="static/scripts/global.js"></script>
</body>
</html>